/* Add a background color to the header element */
header {
    background-color: rgba(117, 200, 255, .5);
    color: #ffffff;
    text-align: center;
}

body {
    background-color: lightgray;
}

/* Add a fun background color to the main element */
main {
    background-color: #115599;
}

/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}

/* Make your p tag a different color and italic */
p {
    font-style: italic;
}

/* Put a border around your image */
img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    position: absolute;
    margin-right: 5%;
    top: 5%;
    right: 0;
    overflow-x: hidden;
    border: 3px dashed rgba(117, 200, 255, .5);
    margin: 0 auto;
    padding: 5px;
  }

/* Change the font-family of your list */
ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Add a background color to the footer element */
footer {
    background-color: rgba(117, 200, 255, .5);
    text-align: center;
    font-size: large;
}